{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {% if site.last_updated %}
        Last updated: <span id="last-updated" style="color: inherit;"></span>.
        <script>
          const lastUpdatedDate = new Date();
          lastUpdatedDate.setMonth(8);
          lastUpdatedDate.setFullYear(2025);
          const options = { year: 'numeric', month: 'long' };
          document.getElementById("last-updated").textContent = lastUpdatedDate.toLocaleDateString('en-US', options);
        </script>
        {% endif %}
        {{ site.footer_text }}
        {% if site.impressum_path %}
          <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}

    <div class="container">
      {% if site.last_updated %}
        Last updated: <span id="last-updated" style="color: inherit;"></span>.
        <script>
          const lastUpdatedDate = new Date();
          lastUpdatedDate.setMonth(8);
          lastUpdatedDate.setFullYear(2025);
          const options = { year: 'numeric', month: 'long' };
          document.getElementById("last-updated").textContent = lastUpdatedDate.toLocaleDateString('en-US', options);
        </script>
      {% endif %}
      {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
    </div>
  </footer>
{% endif %}
